  @import './base.scss';
  .alls{
    width:rem(720px);
    margin:0 auto;
    margin-top:rem(165px);
    // margin-bottom:rem(90px);
    .topic{
      display:flex;
      height:rem(100px);
      border-bottom: rem(1px) solid #ccc;
      // justify-content: space-between;
      align-items: center;
      img{
        width:rem(60px);
        height:rem(60px);
      }
      .tab{
        margin:0 rem(20px);
        div{
          width:rem(70px);
          height:rem(50px);
          background:#e5e5e5;
          color:#999;
          font-size:rem(26px);
          text-align:center;
          line-height: rem(50px);
          border-radius: rem(10px);
          &.top{
            color:#fff;
            background:#8dbb39;
          }
          &.goods{
            color:#fff;
            background:red;
          }
        }
      }
      .title{
        font-size: rem(34px);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
  .datainfo{
  	text-align:center;
  	font-size: rem(30px);
  	line-height: rem(50px);
    color:#ccc;
  }
